*{
    margin: 0;
}
.contain {
    background-color: bisque;
    width: 100%;
    margin:auto;
    height: 500px;
}
.main{
    width: 500px;
    height: 100%;
    margin:auto;

}
.file{
    display: inline-block;
    width: 80px;
}

.file_path{
    width: 300px;
    height: 25px;
}
